<include src="src/templates/modals.html"></include>
<script defer src="/js/libs.min.js"></script>
<script defer src="/js/app.js"></script>

<footer class="footer container">
	<h2 class="footer__title">Get the news every week!</h2>
	<p class="footer__subtitle">
		More than 90% of students went through the full course and were able to
		collect their first computer
	</p>
	<div class="subscribe">
		<input type="text" placeholder="Email" class="subscribe" />
		<button class="subscribe__button">Subscribe</button>
	</div>

	<div class="social">
		<a href="#" class="social__link">
			<img src="img/social/facebook.svg" alt="facebook" />
		</a>
		<a href="#" class="social__link">
			<img src="img/social/facebook.svg" alt="vk" />
		</a>
		<a href="#" class="social__link">
			<img src="img/social/instagram.svg" alt="instagram" />
		</a>
		<a href="#" class="social__link">
			<img src="img/social/youtube.svg" alt="youtube" />
		</a>
	</div>
</footer>
