<header class="header">
  <div class="header--top">
    <div class="logo"></div>
    <nav>
      <ul class="nav nav__list">
        <li class="list__item">
          <a href="#" class="list__link">Home</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">Courses</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">Raccation</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">Readers</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">Sending</a>
        </li>
        <li class="list__item">
          <a href="#" class="list__link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="login">Login</button>
  </div>
  <div class="container">
    <div class="header--medium">
      <h1 class="header__title">
        First course <br />
        On computer assembly
      </h1>
      <div class="header__time">
        <div class="time__item">
          <span class="text1">18</span><span class="text2">Days</span>
        </div>
        <div class="time__item">
          <span class="text1">18</span><span class="text2">Hours</span>
        </div>
        <div class="time__item">
          <span class="text1">18</span><span class="text2">Minutes</span>
        </div>
        <div class="time__item">
          <span class="text1">18</span><span class="text2">Seconds</span>
        </div>
      </div>
    </div>
  </div>

  <div class="header--bottom">
  <div class="container">  
      <button class="course-order-button">
        Order a course
      </button>
      <div class="course-info">
        <div class="cource-info--block">
          <p class="total-students header--bottom--font2">
            Total students:
          </p>
          <p class="total-graduated header--bottom--font1">200</p>
        </div>
        <div class="cource-info--block">
          <p class="graduated-students header--bottom--font2">
            Successfully completed the course:
          </p>
          <p class="total-over header--bottom--font1">170</p>
        </div>
      </div>
      <div class="student-earnings">
        <div class="total-earnings">
          <p class="header--bottom--font2">Earnings by students:</p>
          <p class="header--bottom--font1">1 000 000$</p>
        </div>

        <div class="earnings-range">
          <div class="progress-bar"></div>            
          </div>
          <div class="range-wrapper">
            <span class="range-start header--bottom--font2">1 000 000$</span>
            <span class="range-end header--bottom--font2">1 000 000$</span>
          </div>
        </div>
  </div></div>
      
    </div>
</header>
